<%= link_to pins_path do %>
	<span class="glyphicon glyphicon-arrow-left"></span> Back
<% end %>

<h1>About us</h1>
<p>We are working on our One Month Rails Pineresting app!<p>
<%=render 'layouts/carousel' %>