<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("1.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="carousel-caption">
        <h1>Lake One</h1>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("2.png", :alt => "Slide2"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="carousel-caption">
        <h1>Lake Two</h1>
      </div>
    </div>  
    <div class="item">
      <%= link_to image_tag("3.png", :alt => "Slide3"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="carousel-caption">
        <h1>Lake Three</h1>
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

